<h1>Valentina Rodriguez</h1>
<p>Tengo 8 años de experiencia como <strong>copywriter, content writer y periodista de tecnología y ciencia</strong> para revistas especializadas, blogs, medios de comunicación y empresas en Ecuador, Chile, México, Suecia, USA.  Mi principal habilidad es transformar temas técnicos o complejos en contenido creativo, práctico, y fácil de entender. He escrito tanto para audiencias técnicas (ingenieros y profesionales TIC) como público en general.</p>
<h2>Skills</h2>
<ul> 
<li>Transformar temas técnicos en contenido práctico y fácil de digerir.</li>
<li>Amplios conocimientos en redacción SEO.</li>
<li>Administración de contenidos en CMS’s.</li>
</ul>